.bandeau {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    color: white;
    width: 350px;
    height: 100%;
}

.bienvenue {
    background-color: rgba(255, 215, 215, 1);
    display: flex;
    align-items: center;
    height: 110px;
    width: 100%;
    font-size: 3vh;
    font-weight: bold;
}


.logo {
    border-radius: 50%;
    height: 100%;
}

.toutlien {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
    width: 80%;
    margin: auto;
}

.clic {
    display: flex;
    justify-content: flex-end;
    gap:2vw;
    width: 100%;
    height: 5vh;
}

.clic:hover {
    color: var(--violet);

}

.liens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    color: rgb(250 207 223);
    transition: transform 1s;
    font-weight: bolder;
}

.liens:hover {
    color: rgb(151 73 107 );
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1)

}

