.cadreDescriptif {
    display: flex;
    justify-content: center;
    background-color: var(--vert);
    
}

.presentation {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 3vw 3vw 10vh 3vw;
}

.titrePres {
    font-size: 4vh;
    font-weight: bold;
}
.precision{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto;
    height: 100%;
    width: 80%;
}
.info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2vh;
}

.test {
    font-size: 4vh;
    text-align: center;
    font-family: var(--police);
    box-shadow: var(--boxShadow);
    background-color: white;
    border-radius: 25px;
}
.rass {
    display: flex;
    margin: 2vw;
}

.info .name {
    font-size: 2rem;
    margin-bottom: 3vh;
}

.pin{
    border-radius: 25px;
    width: 360px;
    box-shadow: var(--boxShadow);
    margin: auto;
}

.text {
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.adopte {
    cursor: pointer;
    width: 150px;
    height: 65px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 215, 215, 1);
    box-shadow: var(--boxShadow);
    color: white;
    font-weight:700;
    font-size: 3vh;
    transition: transform 0.3s;
}

.adopte:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1) 
}
