.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 60px;
    background-color: plum;
    color: aliceblue;
    font-family: var(--polices);
    z-index: 999;
    position: relative;
    margin-bottom: 0;
  }
 