.footer {
  /*position: fixe;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 60px;
    color: rgb(133 184 163/ 100%);
    font-family: var(--police);
    z-index: 999;
    position: relative;
    margin-bottom: 0px;
    width: 100%;
  }

  .firts {
    font-size: 1rem;
    font-family: var(--police);
    color:rgb(133 184 163/ 100%);
  }

  .coordonnées {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
  }
  .logos {
    color: rgb(133 184 163/ 100%);
  }
  .logoBis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px
  }