.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
    background-color: rgba(255, 215, 215, 1);
    height: 60px;
    width: 100%;
    margin-top: 0px;
}
.liens {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4vh;
    margin-right: 1vw;
    gap: 1vw;
}
.logo {
    border-radius: 50%;
    width: 55px;
}
.enc {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100px;
    display: flex;
    margin-left: 2vw;
}
