.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bando {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin-top: 0;

}
.leTout {
    width: 100%;
    /*margin-right: 2vw;*/
    margin-bottom: 3vh;
}

.cadre {
    background-color: var(--vert);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    top: 0;
    z-index: 4;
    width: 80%;
}

.titre {
    color:  var(--violet);
    font-family: var(--police);
    font-size: 4vh;
    margin-top: 4vh;

}

.toCarte {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    padding-top: 27vh;
    margin: auto;
    /*width: 70vw;*/
    /*box-shadow: 0px 5px 10px 0px rgba(212, 234, 225, 1);*/
}
.bar {
    transition: transform 0.3s;
}

.bar:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1) 
}