.home {
    display: flex;
    background-color:var(--vert);
    z-index: 1;
}
.bando {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin-top: 0;

}
.leTout {
    width: 100%;
    /*margin-right: 2vw;*/
    margin-bottom: 3vh;
}

.cadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.titre {
    color:  var(--violet);
    font-family: var(--police);
    font-size: 4vh;
    margin-top: 2vh;

}

.toCarte {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    margin: 4% 1.5% 3% 0;
    /*margin-right: 2vw;*/
}
.bar {
    transition: transform 0.3s;
}

.bar:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1) 
}