.login {
    display: flex;
}

.video {
    width: 40vw;
    position: relative;
    overflow: hidden;
    margin: 0;

}
.videoChien {
    width: auto;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.créerCompte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
    margin-top: 0;
}

.amisDom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    font-family: var(--polices);
    color: var(--violet);
    height: 20%;
    margin-top: 0;
}
.formCompte {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: var(--boxShadow);
    background-color: white;
    border-radius: 25px;

}

.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70%;
    gap:3vh;
    color: var(--rose);
}

.inplab {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.lab {
    color: var(--rose);
    margin: auto;
}

.divlab {
    display: flex;
    width: 100%;
    height: 8vh;
    color: var(--rose);
}

.seconnecter {
    cursor: pointer;
    width: 180px;
    height: 105px;
    border-radius: 5px;
    border: none;
    background-color: var(--roseFonce);
    color: white;
    font-weight:700;
    font-size: 2.5vh;
    transition: transform 0.3s;
    margin-top: 3vh;
    text-decoration: none;
}
.créerLogin {
    margin-top: 3vh;
    font-size: 2.5vh;
}

.formInscrip {
    padding: 2vw;
}
