@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Flex:opsz,wght@8..144,200&display=swap");
:root {
  --vert: rgba(212, 234, 225, 1);
  --violet: rgba(151, 73, 107, 1);
  --roseFonce: rgba(216, 89, 135, 1);
  --rosePale: rgba(237, 157, 187, 1);
  --roseClaire: rgba(245, 214, 223, 1);
  --jauneVert: rgba(233, 237, 213, 1);
  --title: 2.5vw;
  --h2: 2vw;
  --h3: 1.8vw;
  --p: 1vw;
  --police: "Poppins", sans-serif;
  --policeBis: "Roboto", sans-serif;
  --policeTrois: "Dancing", sans-serif;
  --borderRadius: 10px;
  --boxShadow: 0px 5px 20px rgb(133 184 163/ 0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--police);
  text-decoration: none;
}
body {
  background-color: var(--vert);
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}