.home {
    display:flex;
    height: 100%;
}

.centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:0;
    width: 100%;
}

.banhearder {
    height: 100%;
}

.cadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-bottom: 1vh;
}

.titre {
    color:  var(--violet);
    font-family: var(--police);
    font-size: 4vh;
    margin-top: 3vh;

}
.filtre {
    margin: auto;
}

.toCarte {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    /*padding-top: 3vh;*/
    margin: auto;
    height: 72vh;
    overflow: scroll;
    width: 95%;
    /*margin-top: 3vh;
    /*box-shadow: 0px 5px 20px rgb(133 184 163/ 0.5);
    box-shadow: 0px 5px 10px 0px rgba(212, 234, 225, 1);*/
}

.bar {
    transition: transform 0.3s;
}

.bar:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1) 
}